html, body {
    width: 800px;
    height: 600px;
    font-family: helvetica, arial, sans-serif;
    scroll-behavior: smooth;
}
.menuUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.test { fill: white; }
.menuLi {
    margin: 3% auto;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

.beast:hover {
    background-color: #CFF2F2;
}

.menu {
    background-color: #003057;
    width: 10%;
    height: 100%;
    left: 0px;
    top: 0px;
    position:fixed;
    padding: 10px;
}

.main {
    position: absolute;
    width: 75%;
    top: 0px;
    height: 100%;
    margin-left: 15%;
}

.fas {
    color: aliceblue;
}

.element-correct {
    list-style-type: none;
    padding-left: 1.5rem;
    background-image: url(../icons/check-circle-solid.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    /* font-family: "Courier New", "Monaco", monospace; */
    transition: background-color .5s;
}
.element-incorrect {
    list-style-type: none;
    padding-left: 1.5rem;
    background-image: url(../icons/times-circle-solid.svg);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    /* font-family: "Courier New", "Monaco", monospace; */
    transition: background-color .5s;
}

.element-correct:hover {
    background-color: #e8e8e8;
}
.element-incorrect:hover {
    background-color: #e8e8e8;
}

pre {
    white-space: pre-wrap;
    /* overflow-wrap: break-word; */
    word-break: break-all;
    margin: 5px;
}
#check:hover {
    color: #9bbb59;
}

#times:hover {
    color: #da8700;
}

#home:hover {
    color: #5d97b7;
}

h1 {
    color: #003057;
    fill: #003057;
}

h2 {
    color: #5d97b7;
}

b {
    color: #003057;
}

i {
    color: #003057;
}

table {
    table-layout: fixed;
    width: 90%;
    border
}



#delete {
    /* fill: #e8e8e8; */
    fill: #64041f;
}

#delete:hover {
    fill: #4b0317;
}

/* Toggle Switch */
/* the switch - the box around the slider */
.switch {
    position:relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8e8e8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #9bbb59;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9bbb59;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

code[class*="language-"],
pre[class*="language-"] {
	white-space: pre-wrap;
	word-break: break-all;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: 0;
}

code[class*="language-"] mark, pre[class*="language-"] mark {
    display: inline-block;
    color: inherit;
    background: none;
    border: 1px solid #000;
    box-shadow: 0 0 2px #fff;
    padding: 1px;
    background: rgba(0,0,0,0.2);
}
